[Unit]
Description=Gaia daemon
After=network-online.target

[Service]
User=root
ExecStart=$HOME/go/bin/gaiad start --p2p.laddr tcp://0.0.0.0:26658 --home $HOME/.ibc-testbed/.gaiad
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
