[Unit]
Description=Ki daemon
After=network-online.target

[Service]
User=root
ExecStart=$HOME/go/bin/kid start --p2p.laddr tcp://0.0.0.0:26659 --home $HOME/.ibc-testbed/.kid
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
