[Unit]
Description=Osmosis daemon
After=network-online.target

[Service]
User=root
ExecStart=$HOME/go/bin/osmosisd start --p2p.laddr tcp://0.0.0.0:26657 --home $HOME/.ibc-testbed/.osmosisd
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
