[Unit]
Description=Relay Lum Osmosis daemon
After=network-online.target

[Service]
User=root
ExecStart=/root/go/bin/rly start lum-osmosis --time-threshold 30s --home /root/.ibc-testbed/relayer
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
